@model MealProduct
@{
    ViewData["Title"] = "Edit Gramms";
}
<form method="post">
    <h2>Граммы: </h2>
    <p>
        <input asp-for="Gramms" />
    </p>
    <input type="submit" value="Сохранить" />
</form>